.page-setup {
  display: flex;
  flex-direction: column;
}

.main-display {
  display: flex;
  justify-content: flex-start;
  height: 45vh;
  width: 85vw;
  margin-left: 15vw;
}

.homepic {
  display: flex;
  width: 100%;
}

.color {
  background: #401222;
  color: #333333;
  color: #da9c5d;
}

.overlay {
  position: absolute;
  opacity: 0.5;
  background-color: black;
  height: 45vh;
  width: 85vw;
  margin-left: 15vw;
}

.home-text {
  position: absolute;
  font-size: 28px;
  top: 1vh;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-family: 'Yellowtail', cursive;
}

.home-text h1 {
  margin-left: 15%;
}

.home-text button {
  width: 22%;
  height: 10%;
  background-color: transparent;
  font-size: 22px;
  color: white;
  transition: 0.5s;
  margin-bottom: 12vh;
  margin-left: 16vw;
  border-radius: 5px;
}

.home-text button:hover {
  color: #da9c5d;
  cursor: pointer;
}

.banner {
  height: 2vh;
  /* background-color: #da9c5d; */
  background-color: #c61616;
}

.main-content {
  max-width: 100%;
  margin-left: 15vw;
  display: flex;
  justify-content: space-between;
}

.main-about {
  margin: auto;
  text-align: center;
  max-width: 50%;
}

.main-about p {
  font-size: 20px;
  line-height: 1.8;
}

.main-sidebar {
  border-left: solid 1px lightgray;
  width: 35%;
  text-align: center;
}

* button:focus {
  outline: none;
}
