.about {
    display: flex;
    flex-direction: row;
}

.mid {
    display: flex;
    width: 65.2vw;
    line-height: 1.8em;
    height: 25vh;
    margin-top: 3vh;
    margin-left: 23vw;
    font-family: 'Laila', serif;
    font-size: 1.05em;
}

.au {
    display: flex;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20vw;
    font-family: 'Laila', serif; 
}

.church-pic {
    border-radius: 5px;
    margin-left: 23vw;
}

.aboutCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}