.contact-page {
    margin-left: 30vw;
    font-family: 'Radley', serif;
    display: flex;
    flex-direction: column;
}

.contact-page h1 {
    margin-left: 17vw;
    margin-bottom: 8vh;
    font-family: 'Radley', serif;
}

.contact-form {
    width: 30vw;
    height: 58vh;
    border: 2px solid #c61616;
    border-radius: 5px;
    margin-left: 8vw;
    margin-top: 4vh;
}

.name-div, .email-div, .message-div {
    width: 30vw;
    position: relative;
    margin-left: 2.5vw;
}

.name-input, .email-input, .message-input {
    width: 25vw;
    margin-bottom: 3vh;
    line-height: 1.9em;
    border-radius: 3px;
    font-size: 1.1em;
    padding-left: 2px;
    border: 2px solid #c61616;
}

.message-input::placeholder {
    font-size: 1.2em;
    font-family: 'Radley', serif;
}

.name-input {
    margin-top: 3vh;
}

.place-name {
    position: absolute;
    top: 1.8vh;
    width: 3vw;
    text-align: center;
    left: .5vw;
    font-size: .8em;
    background: white;
}

.place-email {
    position: absolute;
    top: -1vh;
    width: 7vw;
    text-align: center;
    left: .5vw;
    font-size: .8em;
    background: white;
}

.place-message {
    position: absolute;
    top: -1.2vh;
    width: 4vw;
    text-align: center;
    left: .5vw;
    font-size: .8em;
    background: white;
}

.mail-button {
   margin-left: 10vw;
   width: 10vw;
   height: 5vh;
   border: none;
   border-radius: 4px;
   font-size: 1.2em;
   font-family: 'Radley', serif;
   background-color: green;
   color: white;
}

.mail-button:active {
   transform: translateY(2px);

}