.headCont {
    display: flex;
}
.headerMain {
    display: flex;
    width: 66vw;
    height: 10vh;
}
.headLeft {
    width: 17vw;
    height: 10vh;
    background-color: black;
}
.headRight {
    width: 17vw;
    height: 10vh;
    background-color: black;
}