.navCont {
  position: fixed;
  z-index: 3;
  left: 0;
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
  border-right: solid 1px lightgray;
}

.navLinks {
  position: fixed;
  z-index: 2;
  width: 15vw;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 18vh;
  align-items: center;
  list-style: none;
  font-size: 1.2em;
  /* color: #f7cb5b; */
  color: #c61616
}

.links {
  font-size: 1em;
  /* color: rgb(218, 156, 93); */
  color: #c61616;
  text-decoration: none;
  font-weight: bold;
}

.music {
  position: absolute;
  width: 15vw;
  height: 100vw;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.2;
}

.logo, .logo-pic {
  margin-top: 1vh;
  width: 12.5vw;
  height: 12.5vh;
}


.position1 {
  position: absolute;
  z-index: 1;
  left: 1vw;
  top: 17vh;
}

.position2 {
  position: absolute;
  z-index: 1;
  left: 12vw;
  top: 27vh;
}

.position3 {
  position: absolute;
  z-index: 1;
  left: 6vw;
  top: 36vh;
}

.position4 {
  position: absolute;
  z-index: 1;
  top: 44vh;
}

.position5 {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 50vh;
}

.position6 {
  position: absolute;
  z-index: 1;
  /* right: 5%; */
  top: 58vh;
}

.position7 {
  position: absolute;
  z-index: 1;
  left: 12vw;
  top: 68vh;
}

.position8 {
  position: absolute;
  z-index: 1;
  left: 1vw;
  top: 77vh;
}

.position9 {
  position: absolute;
  z-index: 1;
  left: 6vw;
  top: 87vh;
}

.position10 {
  position: absolute;
  z-index: 1;
  left: 12vw;
  top: 95vh;
}
