.navCont {
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  height: 8vh;
}

.navLinks {
  position: fixed;
  z-index: 2;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 66vw;
  margin: auto;
  list-style: none;
  height: 4vh;
  font-size: 11px;
  color: #f7cb5b;
}

.links {
  font-size: 18px;
  color: rgb(218, 156, 93);
  text-decoration: none;
}

.music {
  height: 8vh;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.1;
}

.position1 {
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 5%;
}

.position2 {
  position: absolute;
  z-index: 1;
  left: 25%;
  bottom: 5%;
}

.position3 {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 5%;
}

.position4 {
  position: absolute;
  z-index: 1;
  right: 25%;
  bottom: 5%;
}

.position5 {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 5%;
}
